<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/camera.css') }}">
    </head>
    <body>
        <div class="card">
            <a href="/" class="back-btn">⬅ 回主選單</a>

            <h1>恭喜上魚，{{ session['username'] }}！</h1>
            <h3>📸 上傳魚類照片</h3>
            
            <form id="uploadForm">
                <input
                    type="file"
                    id="fileInput"
                    name="file"
                    accept="image/*"
                    required
                />
                <br /><br />
                <button
                    type="button"
                    onclick="handleUpload()"
                    id="submitBtn"
                    class="submit-btn"
                >
                    開始 AI 辨識
                </button>
            </form>

            <p id="statusText">正在上傳並準備回首頁...</p>

            <div id="spot-container">
                <h3 id="spot-title"></h3>
                <div style="text-align: center">
                    <img id="spot-preview" src="" alt="預覽圖片" />
                    <p id="preview-placeholder">等待上傳圖片...</p>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='javascript/camera.js') }}"></script>
    </body>
</html>
